:root{
    --green:#2A7D2E;
    --light-green:rgb(55, 173, 59);
    --dark-green:#124A2F;
    --text-color:#A0A0A0;
    --white:#ffffff;
    --muted-grey:#FBF9F6;
    --logoColor:#0167B0;
    --orangeLogo:#F78E1D;
}
@font-face{
    font-family: 'Montserrat-thin';
    src: url("./assets/Fonts/Montserrat-Thin.ttf");
}
@font-face{
    font-family: 'Montserrat-light';
    src: url("./assets/Fonts/Montserrat-Light.ttf");
}
@font-face{
    font-family: 'Montserrat-medium';
    src: url("./assets/Fonts/Montserrat-Medium.ttf");
}
@font-face{
    font-family: 'Montserrat-semibold';
    src: url("./assets/Fonts/Montserrat-SemiBold.ttf");
}
@font-face{
    font-family: 'Montserrat-bold';
    src: url("./assets/Fonts/Montserrat-Bold.ttf");
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    scroll-behavior:smooth;
}
body{
    font-family: 'Montserrat-medium',sans-serif;
    overflow-x: hidden;
}

a{
    text-decoration: none;
    color: var(--green);
}

.contact-info-fixed{
    position: fixed;
    top: 20rem;
    left: -34rem;
    display: flex;
    flex-direction: column;
    z-index: 100;
    transition: all .8s;
}
.contact-info-row{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 6rem;
    width: 40rem;
    margin-bottom: 1rem;
    background-color: var(--light-green);
    transition: all .4s;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.contact-info-row p{
    font-size: 18px;
    color: var(--white);
    text-align: center;
    margin-right: 5rem;
}
.contact-icon{
    background-color: var(--green);
    position: absolute;
    right: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6rem;
    height: 6rem;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.phone{
    background-image: url(./assets/Images/Icons/phone.svg);
}
.map{
    background-image: url(./assets/Images/Icons/map.svg);
}
.calendar{
    background-image: url(./assets/Images/Icons/calendar.svg);
}
.phone,.map,.calendar{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 3rem;
    height: 3rem;
}
.contact-info-row.phone-row,.contact-info-row.map-row,.contact-info-row.calendar-row{
    transition: all .4s;
}
.contact-info-row.phone-row:hover{
    left: 34rem;
}
.contact-info-row.map-row:hover{
    left: 34rem;
}
.contact-info-row.calendar-row:hover{
    left: 34rem;
}

.buttonSolid{
    cursor: pointer;
    background-color: var(--green); 
    border: none;
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    width: 150px;
    height: 50px;
    font-family: 'Montserrat-medium',sans-serif;
    font-size: 1.6rem;
    outline: none;
    transition: all .4s;
}
.buttonTransparent{
    cursor: pointer;
    background-color: transparent; 
    border: 1px solid var(--white);
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10rem;
    width: 15rem;
    height: 5rem;
    font-family: 'Montserrat-medium',sans-serif;
    font-size: 1.6rem;
    outline: none;
    transition: all .4s;
}

.input{
    border-radius: 100px;
    border: 1px solid var(--text-color);
    padding: 15px;
    font-family: 'Montserrat-light',sans-serif;
    font-size: 18px;
    outline: none;
    width: 100%;
    margin-bottom: 2rem;
}
.input.textarea{
    border-radius: 20px;
    resize: none;
}

.container{
    width: 100%;
    position: relative;
}
.nav{
    height:9rem;
    width: 100%;
    background-color:var(--white);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    padding: 0 6rem;
    z-index: 100;
    box-shadow: 0 3px 5px rgba(0,0,0,.2);
}
.nav-logo{
    background-image: url(./assets/Images/wesleysLogo.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 20rem;
    height: 6rem;
    position: relative;
    z-index: 3;
}
.nav-menu ul{
    display: flex;
    color: var(--green);
}
.nav-item{
    list-style: none;
    font-size: 1.6rem;
    cursor: pointer;
    padding-bottom: 2px;
  
}
.home:hover,.about:hover,.services:hover,.gallery:hover,.tips:hover,.contact:hover{
    border-bottom: 2px solid var(--green);
} 
.nav-item:not(:last-child){
    margin-right: 2rem;
}
.nav-btn{
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-btn button:hover{
    background-color: var(--dark-green);
}
.hero{
    width: 100%;
    height: 100vh;
    position: relative;
}
.hero-about,.hero-lawn-maintance,.hero-landscape,.hero-comercial,.hero-hardscaping,.hero-fertilization,.hero-snow{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--white);
}
.hero-about{
    background-image: url(./assets/Images/garden13.jpg);
}
.hero-lawn-maintance{
    background-image: url(./assets/Images/imageService1.jpg);
    background-position: unset;
}
.hero-landscape{
    background-image: url(./assets/Images/imageService2.jpg);
}
.hero-comercial{
    background-image: url(./assets/Images/imageService3.jpg);
}
.hero-hardscaping{
    background-image: url(./assets/Images/imageService4.jpg);
}
.hero-fertilization{
    background-image: url(./assets/Images/imageService5.jpg);
}
.hero-snow{
    background-image: url(./assets/Images/imageService6.jpg);
    background-position-y: bottom;
}

.hero-info{
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;  
    z-index: 2;
    color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.hero-info h1{
    font-size: 7rem;
    font-family: 'Montserrat-bold',sans-serif;
}
.hero-info p{
    font-size: 1.8rem;
    margin-bottom: 2rem;
}
.hero-info-btn{
    width: 200px;
    height: 60px;
    font-size: 20px;
}
.hero-btn:hover{
    background-color: var(--dark-green);
}
.services-section{
    width: 100%;
    position: relative;
    padding-bottom: 75rem;
}
.services-wrapper{
    width: 90%;
    display: flex;
    flex-direction: column;
    box-shadow: 0 3px 5px rgba(0,0,0,.2);
    padding: 6rem 0;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 35rem;
    background-color: var(--white);

}
.services-row{
    width: 100%;
    display: flex;
    margin-bottom: 6rem;
}
.services-item{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding:0 6rem;
    width: calc(33.33333% - 2px);
}
.services-item:not(:last-child){
    border-right: 1px solid rgba(0,0,0,.2);
}
.services-item h2{
    color: var(--green);
    font-family: 'Montserrat-light',sans-serif;
    text-align: center;
    font-size: 1.8rem;
    padding-top: 10rem;
    margin-bottom: 2rem;
}
.services-item p{
    font-size: 1.6rem;
    color: var(--text-color);
    text-align: center;
    font-family: 'Montserrat-light',sans-serif;
    padding-bottom: 8rem;
}
.viewMore-btn{
    border-color: var(--green);
    color: var(--green);
    position: absolute;
    transform: translate(-50%,0);
    left: 50%;
    bottom: 0;
}
.viewMore-btn:hover{
    background-color: var(--green);
    color: var(--white);
}
.services-icon.icon1{
    background-image: url(./assets//Images/Icons/service1.svg);
}
.services-icon.icon2{
    background-image: url(./assets//Images/Icons/services3.svg);
}
.services-icon.icon3{
    background-image: url(./assets//Images/Icons/service5.svg);
}
.services-icon.icon4{
    background-image: url(./assets//Images/Icons/service6.svg);
}
.services-icon.icon5{
    background-image: url(./assets//Images/Icons/service2.svg);
}
.services-icon.icon6{
    background-image: url(./assets//Images/Icons/service7.svg);
}

.services-icon.icon1,
.services-icon.icon2,
.services-icon.icon3,
.services-icon.icon4,
.services-icon.icon5,
.services-icon.icon6{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 8rem;
    height: 8rem;
    position: absolute;
    top: 0;
}
.grass{
    position: absolute;
    height: 1rem;
    top: -1rem;
    width: 98%;
    background-image: url(./assets/Images/Icons/grass.svg);
}
.ourWork-section{
    width: 100%;
}
.ourWork-info{
    width: 100%;
    padding: 6rem;
}
.ourWork-info h2{
    color: var(--green);
    font-size: 7rem;
    font-family: 'Montserrat-thin',sans-serif;
    text-align: center;
    margin-bottom: 2rem;
}
.ourWork-info p{
    font-size: 1.8rem;
    color: var(--text-color);
    font-family: 'Montserrat-light',sans-serif;
    text-align: center;
}
.gallery-section{
    width: 100%;
    background-color: var(--muted-grey);
    padding: 60px 0;
}
.gallery-section h2{
    color: var(--dark-green);
    font-size: 4rem;
    text-align: center;
    font-family: 'Montserrat-light',sans-serif;
    padding-bottom: 6rem;
}
.gallery-wrapper{
    width: 90%;
    margin: 0 auto;
}
.gallery-row{
    width: 100%;
    height: 384px;
    display: flex;  
    margin-bottom: 2rem;
}
.gallery-item{
    width: 33.333%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 15px;
}
.gallery-item:not(:nth-child(3n)){
    width: calc(33.3333% - 2rem);
    height: 100%;
    margin-right: 2rem;
}
.img1{
    background-image: url(./assets/Images/garden4.jpg);
}
.img2{
    background-image: url(./assets/Images/garden5.jpg);
}
.img3{
    background-image: url(./assets/Images/garden6.jpg);
}
.img4{
    background-image: url(./assets/Images/garden7.jpg);
}
.img5{
    background-image: url(./assets/Images/garden8.jpg);
}
.img6{
    background-image: url(./assets/Images/garden9.jpg);
}
.img7{
    background-image: url(./assets/Images/garden10.jpg);
}
.img8{
    background-image: url(./assets/Images/garden11.jpg);
}
.img9{
    background-image: url(./assets/Images/garden12.jpg);
}

.gallery-btn{
    margin: 0 auto;
    margin-top: 6rem;
}
.gallery-btn:hover{
    background-color: var(--dark-green);
}
.contact-btn:hover{
    background-color: var(--dark-green);
}
.contact-btn{
    margin: 0 auto;
}
.contact-section{
    width: 100%;
    padding: 6rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contact-section h2{
text-align: center;
color: var(--dark-green);
font-size: 6rem;
margin-bottom: 2rem;
}
.contact-form{
    width: 550px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contact-row{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 2rem;
}
.contact-textarea{
    width: 100%;
    height: 150px;
    margin-bottom: 2rem;
}
footer{
    width: 100%;
    background-color: var(--muted-grey);
    padding: 6rem;
}
.footer-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer-btn:hover{
    background-color: var(--dark-green);
}
.footer-btn{
    margin-bottom: 4rem;
}
.footer-info{
    font-size: 18px;
    font-family: 'Montserrat-thin',sans-serif;
    text-align: center;
    margin-bottom: 4rem;
}
.footer-info p:not(:last-child){
    margin-bottom: 2rem;
}
.footer-info p{
    color:black;
}
.footer-facebook,.footer-instagram,.footer-twitter{
    width: 30px;
    height: 30px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}
.footer-social{
    display: flex;
    justify-content: space-between;
}
.footer-facebook{
    background-image: url(./assets/Images/Icons/facebook.svg);
    margin-right: 4rem;
}
.footer-instagram{
    background-image: url(./assets/Images/Icons/instagram.svg);
    margin-right: 4rem;
}
.footer-twitter{
    background-image: url(./assets/Images/Icons/twitter.svg);
}
.footer-social{
    margin-bottom:4rem;
}
.footer-copy p{
    font-family: 'Montserrat-thin',sans-serif;
    font-size: 16px;
    color:black;
}


/* 
////////////////////////
SLIDER 1 COMMENTS
///////////////////////
 */

.Comments-section{
    margin: 10rem 0;
}
#slider,  #slider .slide{
    width: 800px;
    height: 300px;
  }
  #slider {
    overflow: hidden;
    margin: 0 auto;
  }
  #slider .container {
    position: relative;
    width: 9000px; /* Assign an insanely large width */
    top: 0;
    right: 0;
    animation: slide-animation 25s infinite;
  }
  #slider .slide {
    position: relative;
    float: left;
    box-sizing: border-box;
    padding: 10px 20px;
  }
  .slide h3{
      text-align: center;
      color: var(--green);
      font-family: 'Montserrat-semibold',sans-serif;
      font-size: 24px;
      margin-bottom: 6rem;
  }
  .slide p{
      text-align: center;
      font-family: 'Montserrat-light',sans-serif;
      font-size: 30px;
      color: black;
  }
  .ourClients-slide-wrapper{
      display: flex;
      align-items: center;
      justify-content: center;
  }
  .ourClients-slide-wrapper h3{
    font-size: 80px !important;
  }

  /* 
////////////////////////
SLIDER 2 HERO
///////////////////////
 */

 .slider {
    width: 100%;
    height: 100%;
	margin: auto;
}

.slider ul {
	display: flex;
	padding: 0;
	width: 400%;
	
	animation: cambio 20s infinite alternate linear;
}

.slider li {
	width: 100%;
	list-style: none;
}

.slider img {
	width: 100%;
}

@keyframes cambio {
	0% {margin-left: 0;}
	20% {margin-left: 0;}
	
	25% {margin-left: -100%;}
	45% {margin-left: -100%;}
	
	50% {margin-left: -200%;}
	70% {margin-left: -200%;}
	
	75% {margin-left: -300%;}
	100% {margin-left: -300%;}
}


/* 
////////////////////
ABOUT SECTION
//////////////////// 
*/

.about-title{
    padding: 10rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.about-title h1{
    color: var(--green);
    font-size: 7rem;
}
.about-mission{
    padding: 10rem 0;
}
.mission{
    width:120rem;
    height: 50rem;
    display: flex;
    margin: 0 auto;
}
.mission-text{
width: 50rem;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;

}
.mission-text h2{
    color: var(--green);
    font-size: 5rem;
    margin-bottom: 2rem;
}
.mission-text p{
    color: black;
    font-size: 2rem;
    text-align: center;
    color: var(--text-color);
}
.mission-img{
    background-image: url(./assets/Images/garden14.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 70rem;
    height: 100%;
}

.timeline {
    background-color: var(--muted-grey);
    margin: 0;
    height: 230rem;
    font-family: 'Droid Sans', sans-serif;
    position: relative;
}
.timeline:before {
    content: '';
    position: absolute;
    top: 0px;
    left: 50%;
    bottom: 0px;
    transform: translateX(-50%);
    width: 4px;
    background-color: var(--green);
}
.timeline .entries {
    width: calc(100% - 80px);
    max-width: 800px;
    margin: auto;
    position: relative;
    left: -5px;
}
.timeline .entries .entry {
    width: calc(50% - 80px);
    float: left;
    padding: 20px;
    clear: both;
    text-align: right;
}
.timeline .entries .entry:not(:first-child) {
    margin-top: -60px;
}
.timeline .entries .entry .title {
    font-size: 32px;
    margin-bottom: 12px;
    position: relative;
    color: var(--green);
}
.timeline .entries .entry .title:before {
    content: '';
    position: absolute;
    width: 8px;
    height: 8px;
    border: 4px solid var(--dark-green);
    background-color: var(--dark-green);
    border-radius: 100%;
    top: 50%;
    transform: translateY(-50%);
    right: -113px;
    z-index: 99;
}
.timeline .entries .entry .title.big:before {
    width: 24px;
    height: 24px;
    transform: translate(8px, -50%);
}
.timeline .entries .entry .body {
    color: black;
    font-family: 'Montserrat-light',sans-serif;
    font-size: 1.8rem;
}
.timeline .entries .entry .body p {
    line-height: 1.4em;
}
.timeline .entries .entry:nth-child(2n) {
    text-align: left;
    float: right;
}
.timeline .entries .entry:nth-child(2n) .title:before {
    left: -103px;
}
.timeline .entries .entry:nth-child(2n) .title.big:before {
    transform: translate(-8px, -50%);
}





/* 
///////////////////
SERVICES
///////////////////
 */

/* SERVICE 1 */

.lawn-maintenance{
    padding: 10rem;
}
.lawn-maintenance-info h1{
    color: var(--green);
    font-size: 7rem;
    font-family: 'Montserrat-semibold',sans-serif;
    text-align: center;
    margin-bottom: 2rem;
}
.lawn-maintenance-info p{
    color: var(--text-color);
    font-size: 2rem;
    text-align: center;
    margin-bottom: 6rem;
}
.lawn-maintenance-list{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}
.lawn-maintenance-list h3{
    color: var(--green);
    font-size: 3rem;
    padding: 10rem 0;
    text-align: center;
}
.lawn-maintenance-item{
    display: flex;
    flex-direction:column;
    width:60%;
    align-items: center;
    justify-content: center;
    padding: 2rem 0;
    border-bottom: 2px dashed var(--green);
    text-align: center;
}
.lawn-maintenance-item.item-fertilization{
    width: 100%;
    padding: 6rem 0;
}
.lawn-maintenance-item:nth-child(1n){
    font-size: 2rem;
    color: black;
    font-family: 'Montserrat-semibold',sans-serif;
}
.lawn-maintenance-item.item-fertilization p{
    margin-bottom: 2rem;
}
.fertilization-text{
    color:var(--text-color)
}
.list-number{
    color: var(--green);
    font-size: 5rem;
}
.lawn-maintenance-aeration{
    padding-top: 10rem;
}
.lawn-maintenance-aeration h2{
    color: var(--green);
    font-size: 5rem;
    text-align: center;
    margin-bottom: 2rem;
}
.lawn-maintenance-aeration p{
    color: var(--text-color);
    font-size: 2rem;
    text-align: center;
}
.lawn-maintenance-subTitle{
    font-size: 6rem;
    color: var(--green) !important;
    text-align: center;
}

.pruning,.spring{
    font-size:2.8rem;
    color: var(--green);
}
.spring{
    margin-bottom: 2rem;
}
.spring-text{
    font-size: 2rem;
    font-family: 'Montserrat-Light',sans-serif;
}

.consultation{
    width: 100%;
    padding-top:12rem;
    display: flex;
    justify-content: center;
}

.burger-menu{
    display: none;
}

.mobile-menu{
    display: block;
    position: absolute;
    right: 0;
    left: 0;
    width: 100%;
    top:-30rem;
    z-index: 100;
    transition: top .8s;
}
.mobile-menu-item{
    font-size: 1.8rem;
    color: var(--green);
    background-color:var(--white);
    padding: 1.5rem 0;
    text-align: center;
    font-family: 'Montserrat-semibold',sans-serif;
    width: 100%;
    cursor: pointer;
    list-style: none;
}
.mobile-menu-item:not(:last-child){
    border-bottom: 1px solid var(--text-color);
}
/* .mobile-menu-item:hover{
    background-color: var(--green);
    color: var(--white);
    transition: all .4s;
} */
/* 
///////////////////////////////
 MEDIA QUERIES
///////////////////////////////
 */

@media (max-width:1025px){
    .nav{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .nav-menu,.nav-btn{
        display: none;
    }
    .burger-menu{
        display: block;
        width: 5rem;
        height: 9rem;
        cursor: pointer;
        position: absolute;
        transform: translate(0,-50%);
        top: 50%;
        left: 4rem;
    }
    .burger-menu span{
        position: absolute;
        background-color: var(--green);
        width: 100%;
        height: 2px;
        transform: translate(0,-50%);
        top: 50%;
    }
    .burger-menu span::before{
        content: '';
        position:absolute;
        top: 10px;
        background-color: var(--green);
        width: 100%;
        height: 2px;
        transform: translate(0,-50%);
    }
    .burger-menu span::after{
        content: '';
        position:absolute;
        bottom: 10px;
        background-color: var(--green);
        width: 100%;
        height: 2px;
        transform: translate(0,-50%);
    }
    .mobile-menu{
        display: block;
        position: fixed;
        box-shadow: 0 3px 5px rgba(0,0,0,.2);
    }
    .mobile-open{
        top: 9rem;
    }
    .hero{
        height: 50vh;
    }
    .services-section{
        padding-bottom: 90rem;
    }
    .hero-about,.hero-lawn-maintance,.hero-landscape,.hero-comercial,.hero-hardscaping,.hero-fertilization,.hero-snow{
        height: 30vh;
    }
}


@media (max-width:900px){

.services-item{
    width: 100%;
    margin-bottom: 2rem;
}
.services-item:not(:last-child){
    border: none;
}
.services-row{
    flex-direction: column;
}
.services-wrapper{
    position: unset;
    transform: translate(0,0);
}
.services-section{
    padding-bottom: 6rem;
    display: flex;
    justify-content: center;
}
.grass{
    display: none;
}
.gallery-row{
    height: auto;
    flex-direction: column;
    margin-bottom:0;
}
.gallery-item{
    width: 100% !important;
    height: 28rem !important;
    margin-bottom:2rem;
}
.mission{
    flex-direction: column;
    width: 100%;
}
.mission-text,.mission-img{
    width: 100%;
}
.mission-text{
    text-align: center;
    padding: 2rem;
}
.timeline{
    height:250rem;
}
}

@media (max-width:769px){
    .timeline{
        height: 300rem;
    }
    #slider .slide{
        padding:10px 5rem;
    }
    .lawn-maintenance-info h1{
        font-size: 6rem;
    }
}
@media (max-width:500px){
    .contact-form{
        width: 100%;
        padding: 0 2rem;
    }
    .burger-menu{
        width:4rem;
        left:2rem;
    }
    .nav-logo{
        width: 15rem;
    }
    .slider img{
        height: 100%;
    }
    .slider li{
        height:30rem;
    }
    .hero-info{
        top: 60%;
    }
    .hero-info h1{
       font-size: 4rem;
    }
    .hero-info p{
        text-align: center;
    }
    .hero-info-btn{
        width: 150px;
        height: 40px;
        font-size: 1.5rem;
    }
    .ourWork-info{
        padding: 2rem;
    }
    .ourWork-info h2{
        font-size: 4rem;
    }
    .services-item{
        padding: 0 2rem;
    }
    .slide p{
        font-size:1.8rem;
    }
    .ourClients-slide-wrapper h3{
        font-size: 4rem !important;
    }
    #slider,  #slider .slide{
        width: 340px;
      }
    #slider .slide{
        padding: 1rem 2rem;
    }
    .footer-copy p{
        text-align: center;
    }
    .hero-about{
        height: 40vh;
    }
    .about-title h1{
        font-size: 4rem;
        text-align: center;
    }
    .lawn-maintenance{
        padding: 2rem;
    }
    .lawn-maintenance-item{
        width: 100%;
    }
    .lawn-maintenance-item:nth-child(n){
        font-size: 1.5rem;
        color: rgba(0,0,0,.8)
    }
    .about-title{
        padding: 6rem 0;
    }
    .about-mission{
        padding: 5rem 0;
    }
    .list-number{
        font-size: 2.5rem;
        margin-bottom: 2rem;
    }
    .lawn-maintenance-info h1, .lawn-maintenance-aeration h2{
        font-size: 3rem;
    }
    .lawn-maintenance-info p, .lawn-maintenance-aeration p{
        font-size: 1.5rem;
    }
    .hero-lawn-maintance {
        background-position: 0 70px;
    }
    .contact-section h2{
        font-size: 4rem;
    }
    .lawn-maintenance-list.ourDesign h3{
        font-size: 2rem;
    }
    .lawn-maintenance-list h3{
        padding: 6rem 0;
        font-size: 2rem;
    }
    .spring-text{
        font-size: 1.5rem;
    }
}

@media (max-width:500px) and (min-height:730px){
    .hero-info{
        top: 47%;
    }
}
@media (max-width:500px) and (min-height:890px){
    .hero-info{
        top: 42%;
    }
}



  /* [ANIMATION] */
  @keyframes slide-animation {
    0% { 
      opacity: 0;
      right: 0;
    }
    11% {
      opacity: 1;
      right: 0; 
    }
    22% { right: 100%; }
    33% { right: 100%; }
    44% { right: 200%; }
    55% { right: 200%; }
    66% { right: 300%; }
    77% { right: 300%; } 
    88% {
      opacity: 1;
      right: 400%; 
    }
    100% {
      opacity: 0;
      right: 400%;
    }
  }

