<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../index.css">
    <title>Landscape & Lawncare</title>
</head>
<body>
    <div class="container">
        <div class="contact-info-fixed">
            <div class="contact-info-row phone-row">
                <p>(317) 867-1796</p>
                <div class="contact-icon">
                    <div class="phone"></div>
                </div>
            </div>
            <div class="contact-info-row map-row">
                <p>817 E. 199th St.Westfield, IN 46074</p>
                <div class="contact-icon">
                    <div class="map"></div>
                </div>
            </div>
            <div class="contact-info-row calendar-row">
                <p>Mon - Fri  8 am - 4 pm <br> Sat & Sun - Closed</p>
                <div class="contact-icon">
                    <div class="calendar"></div>
                </div>
            </div>
        </div>
        <nav class="nav">
            <div class="nav-logo">
            </div>
            <div class="nav-menu">
                <ul>
                    <a class="nav-item home" href="../index.html"><li>HOME</li></a>
                    <a class="nav-item about"><li>ABOUT</li></a>
                    <a class="nav-item services" href="#services"><li>SERVICES</li></a>
                    <a class="nav-item gallery" href="#gallery"><li>GALLERY</li></a>
                    <a class="nav-item tips"><li class="nav-item">TIPS & NEWS</li></a>
                    <a class="nav-item contact" href="#contact"><li>CONTACT</li></a>
                </ul>
            </div>
            <div class="nav-btn">
                <button class="buttonSolid">Free Quote</button>
            </div>
        </nav>
        <section id="home" class="hero-about">
        </section>
        <section class="about-title">
            <h1>WESLEY'S HISTORY</h1>
         </section>
         <section class="timeline">
                <div class="entries">
                        <div class="entry">
                          <div class="title">1990</div>
                          <div class="body">
                            <p> Wesley Addington and his older brother, Nathan, 
                                started push-mowing lawns around their neighborhood in Carmel, 
                                Indiana. Both shared a love of mowing grass and making some extra money 
                                at the ages of only 11 and 13</p>
                          </div>
                        </div>
                        <div class="entry">
                          <div class="title">A few years later</div>
                          <div class="body">
                            <p> The garage sale mowers Mom and Dad helped to buy needed to be upgraded. 
                                So, Wesley and Nathan saved and saved, and once again with help of Mom and Dad, 
                                they invested in riding mowers with trailers to transport the push mowers around 
                                the neighborhood.</p>
                          </div>
                        </div>
                        <div class="entry">
                          <div class="title big">1999</div>
                          <div class="body">
                            <p>Wesley found another opportunity to try something different and challenging when he enrolled
                                in the Indiana National Guard. Serving six honorable years in the military taught Wesley a lot 
                                about discipline, commitment, integrity and hard work. The National Guard gave Wesley a chance
                                to continue growing (formerly named) Wesley’s Lawn Care, LLC while growing as a leader.</p>
                          </div>
                        </div>
                        <div class="entry">
                          <div class="title">After that...</div>
                          <div class="body">
                            <p>Wesley decided to take up his passion for his old high school sport. 
                                He spent two years coaching wrestling in the winter at Carmel High School, 
                                and eventually settled at Clay Middle School where he coached for another five years. 
                                All the while he continued indulging his love of the lawn and landscaping industry while growing his business.</p>
                          </div>
                        </div>
                        <div class="entry">
                          <div class="title">Current</div>
                          <div class="body">
                            <p>Wesley Addington, Founder and CEO of Wesley’s Landscape & Lawn Care, Inc.
                                is continuing his pursuit and following his dream of client commitment and 
                                growing his business by beautifying homes in Hamilton County and surrounding
                                 areas. Wesley focuses on building the business by selling, designing, and most 
                                 importantly, building relationships while coaching his team to live the Wesley’s Mission: 
                                 To enhance our clients’ properties while exceeding their expectations to the point of a referral.</p>
                          </div>
                        </div>
                        <div class="entry">
                          <div class="body">
                            <p>Wesley’s Landscape & Lawn Care is located in Westfield, Ind. 
                                and services all of Hamilton County and surrounding areas. 
                                We offer exceptional landscaping, creative and beautiful outdoor living spaces, 
                                as well as maintenance of the finest lawns through our specialized fertilization programs.        
                            </p>
                          </div>
                        </div>
                        <div class="entry">
                          <div class="body">
                            <p>
                                    Wesley’s has a fleet of five maintenance crews, 
                                    five landscape /certified hardscape crews and two certified fertilization 
                                    crews that go out daily in your area and would love to get to know you.      
                            </p>
                          </div>
                        </div>
                      </div>
         </section>
        <section class="about-mission">
                <div class="mission">
                    <div class="mission-text">
                        <h2>Our Mission</h2>
                        <p>To enhance our clients’ properties while exceeding their expectations to the point of a referral.</p>
                    </div>
                    <div class="mission-img">

                    </div>
                </div>
        </section>
        <section id="contact" class="contact-section">
            <h2>CONTACT</h2>
            <div class="contact-form">
                <div class="contact-row">
                    <input placeholder="Name" class="input">
                    <input placeholder="E-mail" class="input">
                </div>
                <div class="contact-row">
                    <input placeholder="Adress" class="input">
                    <input placeholder="Phone" class="input">
                </div>
                <textarea placeholder="Send a message" class="contact-textarea input textarea"></textarea>
                <button class="contact-btn buttonSolid">Contact us</button>
            </div>
        </section>
        <footer>
            <div class="footer-wrapper">
                <button class="footer-btn buttonSolid">Free Quote</button>
                <div class="footer-info">
                    <p>Phone: (317) 867-1796</p>
                    <p>817 E. 199th St.Westfield, IN 46074</p>
                    <p>info@Wesleyslandscape.com</p>
                    <p>Mon - Fri  8 am - 4 pm <br>Sat & Sun - Closed</p>
                </div>
                <div class="footer-social">
                    <div class="footer-facebook"></div>
                    <div class="footer-instagram"></div>
                    <div class="footer-twitter"></div>
                </div>
                <div class="footer-copy">
                    <p>&copy 2017 Wesley's Landscape & Lawncare -  All rights reserved</p>
                </div>
            </div>
        </footer>
    </div>
</body>
</html>