<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../index.css">
    <title>Landscape & Lawncare</title>
</head>
<body>
        <div class="mobile-menu">
                <ul>
                    <a id="mobile-nav" href="../index.html#home"><li class="mobile-menu-item">HOME</li></a>
                    <a id="mobile-nav" href="./About.html"><li class="mobile-menu-item">ABOUT</li></a>
                    <a id="mobile-nav" href="../index.html#services"><li class="mobile-menu-item">SERVICES</li></a>
                    <a id="mobile-nav" href="../index.html#gallery"><li class="mobile-menu-item">GALLERY</li></a>
                    <a id="mobile-nav" href=""><li class="mobile-menu-item">TIPS & NEWS</li></a>
                    <a id="mobile-nav" href="../index.html#contact"><li class="mobile-menu-item">CONTACT</li></a>
                </ul>
        </div>
    <div class="container">
        <div class="contact-info-fixed">
            <div class="contact-info-row phone-row">
                <p>(317) 867-1796</p>
                <div class="contact-icon">
                    <div class="phone"></div>
                </div>
            </div>
            <div class="contact-info-row map-row">
                <p>817 E. 199th St.Westfield, IN 46074</p>
                <div class="contact-icon">
                    <div class="map"></div>
                </div>
            </div>
            <div class="contact-info-row calendar-row">
                <p>Mon - Fri  8 am - 4 pm <br> Sat & Sun - Closed</p>
                <div class="contact-icon">
                    <div class="calendar"></div>
                </div>
            </div>
        </div>
        <nav class="nav">
                <div class="burger-menu">
                        <span></span>
                    </div>
            <div class="nav-logo">
            </div>
            <div class="nav-menu">
                <ul>
                    <a class="nav-item home" href="../index.html"><li>HOME</li></a>
                    <a class="nav-item about" href="./About.html"><li>ABOUT</li></a>
                    <a class="nav-item services" href="../index.html#services"><li>SERVICES</li></a>
                    <a class="nav-item gallery" href="../index.html#gallery"><li>GALLERY</li></a>
                    <a class="nav-item tips"><li class="nav-item">TIPS & NEWS</li></a>
                    <a class="nav-item contact" href="#contact"><li>CONTACT</li></a>
                </ul>
            </div>
            <div class="nav-btn">
                    <a href="../templates/request-a-consultation.html"><button class="buttonSolid">Free Quote</button></a>
            </div>
        </nav>

        <section id="home" class="hero-fertilization">
        </section>

        <section class="lawn-maintenance">
            <div class="lawn-maintenance-info">
                <h1>FERTILIZATION</h1>
                <p>
                        With regular applications of balanced fertilizer throughout the year, 
                        Wesley’s Landscape & Lawncare can give your lawn the nutrients it needs 
                        for optimum growth. These nutrients include nitrogen, phosphorus and potassium, 
                        each of which contributes significantly to the overall health of your grass. 
                        Nitrogen promotes foliage production, phosphorus encourages root and seed development, 
                        and potassium helps to hold water and maintain general vigor.<br><br>    
                        Many of our lawn care clients agree that when it comes to lawns, 
                        Wesley’s Landscape & Lawncare knows green. Call today to learn more 
                        about how you can have the nicest, deep-green lawn on the street!
                </p>
            </div>
            <div class="lawn-maintenance-list">
                <div class="lawn-maintenance-item item-fertilization">
                    <p class="list-number">Early-Spring Application</p>
                    <p class="fertilization-text">The early-spring application will promote spring green-up and recovery
                        from winter stress. This application may include preventative crabgrass control.
                        Broadleaf weed control will be applied as weather permits.Spring Application
                        During this period of the year we will apply a balanced fertilizer to promote color,
                        thickness and overall good health. It may also include preventative crabgrass control.
                        In addition to feeding the lawn, Wesley’s will treat for broadleaf weeds and surface-feeding insects as needed.</p>
                </div>
                <div class="lawn-maintenance-item item-fertilization">
                    <p class="list-number">Late Spring/Early Summer</p>
                    <p class="fertilization-text">Summer can stress your lawn. We will fertilize to prepare for the summer ahead, 
                        and we will also treat for weeds and surface-feeding insects as needed. 
                        We will be watching for the early stages of disease. If disease issues occur, 
                        we will inform you.</p>
                </div>
                <div class="lawn-maintenance-item item-fertilization">
                    <p class="list-number">Early Summer Application</p>
                    <p class="fertilization-text">During the harsh summer months your lawn still needs to be fed to help
                        fight drought, disease and insect stresses. We will apply a balanced
                        summer fertilizer for these dry periods, and we will be on the lookout
                        for weeds, insects and disease. We will keep you informed at all times.
                        If requested, grub control is applied at this time</p>
                </div>
                <div class="lawn-maintenance-item item-fertilization">
                    <p class="list-number">Late Summer/Early Fall</p>
                    <p class="fertilization-text">We will continue to feed your lawn to encourage color, 
                        thickness and overall health. This treatment is designed 
                        to encourage recovery and green up your lawn. We will continue
                        to watch for and treat surface-feeding insects and weeds as needed</p>
                </div>
                <div class="lawn-maintenance-item item-fertilization">
                    <p class="list-number">Early Fall Application / Late Fall Winterization</p>
                    <p class="fertilization-text">During colder weather your lawn will need a balanced feeding to recover
                        from the stress of summer. These fall feedings help to prepare for the
                        winter months ahead. In addition, we will continue to monitor for weeds,
                        surface-feeding insects and disease</p>
                </div>
            </div>
            <div class="lawn-maintenance-aeration">
                    <h2>CORE AERATION</h2>
                    <p>Core aeration is one of the most important cultural practices available
                        for your lawn. It can substantially improve turf health by controlling 
                        thatch, improving soil structure, helping to create growth pockets for 
                        new roots, and opening the way for water and fertilizer to reach the root
                        zone of your lawn. Aeration is recommended for all lawns on heavy clay soils 
                        and those with a thatch buildup.<br><br>
                        Aeration removes thousands of small cores of soil 1 to 3 inches in length from
                        your lawn. After a few rainfalls, these cores “melt” back into the turf, mixing
                        with whatever thatch exists on your lawn. The holes created by aeration catch
                        fertilizer and water. Turf roots naturally grow toward these growth pockets and
                        thicken in the process. Aeration holes relieve pressure from compacted soils, 
                        letting oxygen and water move more freely into the root zone. Regular aeration
                        also helps thatch to break down naturally by mixing the soil cores into the thatch
                        and speeding up decomposition.
                    </p>
                </div>
        </section>

        <section id="contact" class="contact-section">
            <h2>CONTACT</h2>
            <div class="contact-form">
                <div class="contact-row">
                    <input placeholder="Name" class="input">
                    <input placeholder="E-mail" class="input">
                </div>
                <div class="contact-row">
                    <input placeholder="Adress" class="input">
                    <input placeholder="Phone" class="input">
                </div>
                <textarea placeholder="Send a message" class="contact-textarea input textarea"></textarea>
                <button class="contact-btn buttonSolid">Contact us</button>
            </div>
        </section>
        <footer>
            <div class="footer-wrapper">
                    <a href="../templates/request-a-consultation.html"><button class="footer-btn buttonSolid">Free Quote</button></a>
                <div class="footer-info">
                    <p>Phone: (317) 867-1796</p>
                    <p>817 E. 199th St.Westfield, IN 46074</p>
                    <p>info@Wesleyslandscape.com</p>
                    <p>Mon - Fri  8 am - 4 pm <br>Sat & Sun - Closed</p>
                </div>
                <div class="footer-social">
                    <div class="footer-facebook"></div>
                    <div class="footer-instagram"></div>
                    <div class="footer-twitter"></div>
                </div>
                <div class="footer-copy">
                    <p>&copy 2017 Wesley's Landscape & Lawncare -  All rights reserved</p>
                </div>
            </div>
        </footer>
    </div>
    <script type="text/javascript" src="../index.js"></script>
</body>
</html>