<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../index.css">
    <title>Landscape & Lawncare</title>
</head>
<body>
        <div class="mobile-menu">
                <ul>
                    <a id="mobile-nav" href="../index.html#home"><li class="mobile-menu-item">HOME</li></a>
                    <a id="mobile-nav" href="./About.html"><li class="mobile-menu-item">ABOUT</li></a>
                    <a id="mobile-nav" href="../index.html#services"><li class="mobile-menu-item">SERVICES</li></a>
                    <a id="mobile-nav" href="../index.html#gallery"><li class="mobile-menu-item">GALLERY</li></a>
                    <a id="mobile-nav" href=""><li class="mobile-menu-item">TIPS & NEWS</li></a>
                    <a id="mobile-nav" href="../index.html#contact"><li class="mobile-menu-item">CONTACT</li></a>
                </ul>
        </div>
    <div class="container">
        <div class="contact-info-fixed">
            <div class="contact-info-row phone-row">
                <p>(317) 867-1796</p>
                <div class="contact-icon">
                    <div class="phone"></div>
                </div>
            </div>
            <div class="contact-info-row map-row">
                <p>817 E. 199th St.Westfield, IN 46074</p>
                <div class="contact-icon">
                    <div class="map"></div>
                </div>
            </div>
            <div class="contact-info-row calendar-row">
                <p>Mon - Fri  8 am - 4 pm <br> Sat & Sun - Closed</p>
                <div class="contact-icon">
                    <div class="calendar"></div>
                </div>
            </div>
        </div>
        <nav class="nav">
                <div class="burger-menu">
                        <span></span>
                    </div>
            <div class="nav-logo">
            </div>
            <div class="nav-menu">
                <ul>
                    <a class="nav-item home" href="../index.html#home"><li>HOME</li></a>
                    <a class="nav-item about" href="./About.html"><li>ABOUT</li></a>
                    <a class="nav-item services" href="../index.html#services"><li>SERVICES</li></a>
                    <a class="nav-item gallery" href="../index.html#gallery"><li>GALLERY</li></a>
                    <a class="nav-item tips"><li class="nav-item">TIPS & NEWS</li></a>
                    <a class="nav-item contact" href="#contact"><li>CONTACT</li></a>
                </ul>
            </div>
            <div class="nav-btn">
                    <a href="../templates/request-a-consultation.html"><button class="buttonSolid">Free Quote</button></a>
            </div>
        </nav>

        <section id="home" class="hero-landscape">
        </section>

        <section class="lawn-maintenance">
            <div class="lawn-maintenance-info">
                <h1>Landscape</h1>
                <p class="lawn-maintenance-subTitle">DESIGN/BUILD/MAINTAIN</p>
                <p>
                        Landscape improvements can make a tremendous difference in the looks, usefulness and value of your property. 
                        No matter what the style or size of your house, your property or your budget, our landscape designers can offer 
                        a variety of creative ideas to fit your needs.
                        At Wesley’s Landscape & Lawncare, we ask how you want to use your property and then help you create both your short- and long-term plans.<br><br>
                        From the smallest to the largest jobs, we start with the basics of good design: combining function with form, and beauty with utility. 
                        Our knowledgeable and experienced professionals will work with you from concept to project completion, with services that include a custom drawing of your project, 
                        a detailed proposal and a schedule that works for you. We like to think of it as an “Investment that Grows.”
                </p>
            </div>
            <div class="lawn-maintenance-list ourDesign">
                <h3>Our Design/Build Services include</h3>
                <div class="lawn-maintenance-item">
                    <p class="list-number">01</p>
                    <p>Landscape Sketch or Design</p>
                </div>
                <div class="lawn-maintenance-item">
                    <p class="list-number">02</p>
                    <p>New Construction</p>
                </div>
                <div class="lawn-maintenance-item">
                    <p class="list-number">03</p>
                    <p>Landscape Makeovers</p>
                </div>
                <div class="lawn-maintenance-item">
                    <p class="list-number">04</p>
                    <p>Low-Maintenance Designs</p>
                </div>
                <div class="lawn-maintenance-item">
                    <p class="list-number">05</p>
                    <p>Enhanced Outdoor Living</p>
                </div>
                <div class="lawn-maintenance-item">
                    <p class="list-number">06</p>
                    <p>Tranquil, Relaxing Settings, Sites and SmellsSpring/Fall Clean-Up</p>
                </div>
                <div class="lawn-maintenance-item">
                    <p class="list-number">07</p>
                    <p>Outdoor Living Art</p>
                </div>
            </div>

            <div class="lawn-maintenance-list">
                    <h3>Our Maintenance Services include</h3>
                    <div class="lawn-maintenance-item">
                        <p class="list-number">01</p>
                        <p>Bed Preparation (total clean-up of all beds to include weeding, dead heading and cutting any ornamental grasses back)</p>
                    </div>
                    <div class="lawn-maintenance-item">
                        <p class="list-number">02</p>
                        <p>Trenching (elaborating bed definition between turf and mulch with a 2- to 4-inch trench around all beds)</p>
                    </div>
                    <div class="lawn-maintenance-item">
                        <p class="list-number">03</p>
                        <p>Pre-Emergent Weed Barrier (prior to mulch installation)</p>
                    </div>
                    <div class="lawn-maintenance-item">
                        <p class="list-number">04</p>
                        <p>Mulch Installation</p>
                    </div>
                    <div class="lawn-maintenance-item">
                        <p class="list-number">05</p>
                        <p>Delivery</p>
                    </div>
                    <div class="lawn-maintenance-item">
                            <p class="pruning">Pruning Trees/Shrubs</p>
                    </div>
                    <div class="lawn-maintenance-item">
                            <p class="spring">Spring & Fall Clean-Up</p>
                            <p class="spring-text">Wesley’s Landscape & Lawncare offers clean-up services twice a year to help keep your lawn and landscape looking their best at all times. Our spring & fall clean-ups leave all beds spotless with weeding, general clean-up of leaves and debris, deadheading perennials and cutting back ornamental grasses.</p>
                    </div>
            </div>
        </section>

        <section id="contact" class="contact-section">
            <h2>CONTACT</h2>
            <div class="contact-form">
                <div class="contact-row">
                    <input placeholder="Name" class="input">
                    <input placeholder="E-mail" class="input">
                </div>
                <div class="contact-row">
                    <input placeholder="Adress" class="input">
                    <input placeholder="Phone" class="input">
                </div>
                <textarea placeholder="Send a message" class="contact-textarea input textarea"></textarea>
                <button class="contact-btn buttonSolid">Contact us</button>
            </div>
        </section>
        <footer>
            <div class="footer-wrapper">
                    <a href="../templates/request-a-consultation.html"><button class="footer-btn buttonSolid">Free Quote</button></a>
                <div class="footer-info">
                    <p>Phone: (317) 867-1796</p>
                    <p>817 E. 199th St.Westfield, IN 46074</p>
                    <p>info@Wesleyslandscape.com</p>
                    <p>Mon - Fri  8 am - 4 pm <br>Sat & Sun - Closed</p>
                </div>
                <div class="footer-social">
                    <div class="footer-facebook"></div>
                    <div class="footer-instagram"></div>
                    <div class="footer-twitter"></div>
                </div>
                <div class="footer-copy">
                    <p>&copy 2017 Wesley's Landscape & Lawncare -  All rights reserved</p>
                </div>
            </div>
        </footer>
    </div>
    <script type="text/javascript" src="../index.js"></script>
</body>
</html>