<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../index.css">
    <title>Landscape & Lawncare</title>
</head>
<body>
        <div class="mobile-menu">
                <ul>
                    <a id="mobile-nav" href="../index.html#home"><li class="mobile-menu-item">HOME</li></a>
                    <a id="mobile-nav" href="./About.html"><li class="mobile-menu-item">ABOUT</li></a>
                    <a id="mobile-nav" href="../index.html#services"><li class="mobile-menu-item">SERVICES</li></a>
                    <a id="mobile-nav" href="../index.html#gallery"><li class="mobile-menu-item">GALLERY</li></a>
                    <a id="mobile-nav" href=""><li class="mobile-menu-item">TIPS & NEWS</li></a>
                    <a id="mobile-nav" href="../index.html#contact"><li class="mobile-menu-item">CONTACT</li></a>
                    <a href="./join-us.html"><button class="buttonSolid btnMobileNav">Join Us</button></a>
                </ul>
        </div>
    <div class="container">
        <div class="contact-info-fixed">
            <div class="contact-info-row phone-row">
                <p>(317) 867-1796</p>
                <div class="contact-icon">
                    <div class="phone"></div>
                </div>
            </div>
            <div class="contact-info-row map-row">
                <p>817 E. 199th St.Westfield, IN 46074</p>
                <div class="contact-icon">
                    <div class="map"></div>
                </div>
            </div>
            <div class="contact-info-row calendar-row">
                <p>Mon - Fri  8 am - 4 pm <br> Sat & Sun - Closed</p>
                <div class="contact-icon">
                    <div class="calendar"></div>
                </div>
            </div>
        </div>
        <nav class="nav">
                <div class="burger-menu">
                        <span></span>
                    </div>
            <div class="nav-logo">
            </div>
            <div class="nav-menu">
                <ul>
                    <a class="nav-item home" href="../index.html#home"><li>HOME</li></a>
                    <a class="nav-item about" href="./About.html"><li>ABOUT</li></a>
                    <a class="nav-item services" href="../index.html#services"><li>SERVICES</li></a>
                    <a class="nav-item gallery" href="../index.html#gallery"><li>GALLERY</li></a>
                    <a class="nav-item tips"><li class="nav-item">TIPS & NEWS</li></a>
                </ul>
            </div>
            <div class="nav-btn">
                <a href="./join-us.html"><button class="buttonSolid">Join Us</button></a>
            </div>
        </nav>
        <section class="consultation">
                <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSe4kjkouPZ23SZP4gIzPZmu_2-0NFiLpDl24FzOcyfKNE2ADQ/viewform?embedded=true" width="800" height="800" frameborder="0" marginheight="0" marginwidth="0">Cargando…</iframe>
        </section>
        <footer>
            <div class="footer-wrapper">
                <a href="./join-us.html"><button class="footer-btn buttonSolid">Join Us</button></a>
                <div class="footer-info">
                    <p>Phone: (317) 867-1796</p>
                    <p>817 E. 199th St.Westfield, IN 46074</p>
                    <p>info@Wesleyslandscape.com</p>
                    <p>Mon - Fri  8 am - 4 pm <br>Sat & Sun - Closed</p>
                </div>
                <div class="footer-social">
                    <div class="footer-facebook"></div>
                    <div class="footer-instagram"></div>
                    <div class="footer-twitter"></div>
                </div>
                <div class="footer-copy">
                    <p>&copy 2017 Wesley's Landscape & Lawncare -  All rights reserved</p>
                </div>
            </div>
        </footer>
    </div>
    <script type="text/javascript" src="../index.js"></script>
</body>
</html>