<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../index.css">
    <title>Landscape & Lawncare</title>
</head>
<body>
        <div class="mobile-menu">
                <ul>
                    <a id="mobile-nav" href="../index.html#home"><li class="mobile-menu-item">HOME</li></a>
                    <a id="mobile-nav" href="./About.html"><li class="mobile-menu-item">ABOUT</li></a>
                    <a id="mobile-nav" href="../index.html#services"><li class="mobile-menu-item">SERVICES</li></a>
                    <a id="mobile-nav" href="../index.html#gallery"><li class="mobile-menu-item">GALLERY</li></a>
                    <a id="mobile-nav" href=""><li class="mobile-menu-item">TIPS & NEWS</li></a>
                    <a id="mobile-nav" href="../index.html#contact"><li class="mobile-menu-item">CONTACT</li></a>
                </ul>
        </div>
    <div class="container">
        <div class="contact-info-fixed">
            <div class="contact-info-row phone-row">
                <p>(317) 867-1796</p>
                <div class="contact-icon">
                    <div class="phone"></div>
                </div>
            </div>
            <div class="contact-info-row map-row">
                <p>817 E. 199th St.Westfield, IN 46074</p>
                <div class="contact-icon">
                    <div class="map"></div>
                </div>
            </div>
            <div class="contact-info-row calendar-row">
                <p>Mon - Fri  8 am - 4 pm <br> Sat & Sun - Closed</p>
                <div class="contact-icon">
                    <div class="calendar"></div>
                </div>
            </div>
        </div>
        <nav class="nav">
                <div class="burger-menu">
                        <span></span>
                    </div>
            <div class="nav-logo">
            </div>
            <div class="nav-menu">
                <ul>
                    <a class="nav-item home" href="../index.html"><li>HOME</li></a>
                    <a class="nav-item about" href="./About.html"><li>ABOUT</li></a>
                    <a class="nav-item services" href="../index.html#services"><li>SERVICES</li></a>
                    <a class="nav-item gallery" href="../index.html#gallery"><li>GALLERY</li></a>
                    <a class="nav-item tips"><li class="nav-item">TIPS & NEWS</li></a>
                    <a class="nav-item contact" href="#contact"><li>CONTACT</li></a>
                </ul>
            </div>
            <div class="nav-btn">
                    <a href="../templates/request-a-consultation.html"><button class="buttonSolid">Free Quote</button></a>
            </div>
        </nav>

        <section id="home" class="hero-snow">
        </section>

        <section class="lawn-maintenance">
            <div class="lawn-maintenance-info">
                <h1>SNOW & ICE REMOVAL</h1>
                <p class="lawn-maintenance-subTitle">(COMMERCIAL & HOA ONLY)</p>
                <p>
                        Nobody has the time or the desire to shovel snow, and that’s where 
                        Wesley’s Landscape & Lawncare can help. Our snow and ice removal 
                        services will keep your driveways and walkways clear and passable 
                        so you don’t have to. All snow and ice removal is completed within 
                        a reasonable time frame, and always within the constraints of local 
                        township ordinances. We use premium ice melt products to protect your 
                        surfaces, since these products have been proven to provide the best and
                        safest melting solutions. Call now for the best services in Carmel, Westfield, 
                        Noblesville and Fishers.
                </p>
            </div>
            <div class="lawn-maintenance-list">
                <h3>Our Snow & Ice Removal Services include:</h3>
                <div class="lawn-maintenance-item">
                    <p class="list-number">01</p>
                    <p>Commercial Snow Plowing</p>
                </div>
                <div class="lawn-maintenance-item">
                    <p class="list-number">02</p>
                    <p>Parking Lot & Sidewalk Ice Melt</p>
                </div>
                <div class="lawn-maintenance-item">
                    <p class="list-number">03</p>
                    <p>Sidewalk & Entryway Ice Melt</p>
                </div>
                <div class="lawn-maintenance-item">
                    <p class="list-number">04</p>
                    <p>Continuous Monitoring of Property</p>
                </div>
                <div class="lawn-maintenance-item">
                    <p class="list-number">05</p>
                    <p>Large or Small Properties</p>
                </div>
            </div>
        </section>

        <section id="contact" class="contact-section">
            <h2>CONTACT</h2>
            <div class="contact-form">
                <div class="contact-row">
                    <input placeholder="Name" class="input">
                    <input placeholder="E-mail" class="input">
                </div>
                <div class="contact-row">
                    <input placeholder="Adress" class="input">
                    <input placeholder="Phone" class="input">
                </div>
                <textarea placeholder="Send a message" class="contact-textarea input textarea"></textarea>
                <button class="contact-btn buttonSolid">Contact us</button>
            </div>
        </section>
        <footer>
            <div class="footer-wrapper">
                    <a href="../templates/request-a-consultation.html"><button class="footer-btn buttonSolid">Free Quote</button></a>
                <div class="footer-info">
                    <p>Phone: (317) 867-1796</p>
                    <p>817 E. 199th St.Westfield, IN 46074</p>
                    <p>info@Wesleyslandscape.com</p>
                    <p>Mon - Fri  8 am - 4 pm <br>Sat & Sun - Closed</p>
                </div>
                <div class="footer-social">
                    <div class="footer-facebook"></div>
                    <div class="footer-instagram"></div>
                    <div class="footer-twitter"></div>
                </div>
                <div class="footer-copy">
                    <p>&copy 2017 Wesley's Landscape & Lawncare -  All rights reserved</p>
                </div>
            </div>
        </footer>
    </div>
    <script type="text/javascript" src="../index.js"></script>
</body>
</html>